.App {
  text-align: center;
}

.App-logo {
  height: 405px;
  width: 720px;
}

.App-example {
  height: 800px;
  width: 500px;
}


.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 50px;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}
