body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}
.App {
  text-align: center;
}

.App-logo {
  height: 405px;
  width: 720px;
}

.App-example {
  height: 800px;
  width: 500px;
}


.App-header {
  background-color: #ffffff;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin: 0 50px 50px 50px;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}


.tableOfContent > .dropbtn {
  background-color: Gray;
  color: white;
  padding: 10px;
  font-size: 20px;
  border: 15px;
  cursor: pointer;
  margin: 20px;
  width: 100px;
}

.dropbtn { 
  background-color: #299ACC; 
  color: white;
  padding: 16px; 
  font-size: 16px; 
  border: none; 
  cursor: pointer;
}

.dropdown { 
  position: relative; 
  display: inline-block; 
} 

.dropdown-content {  
  position: absolute; 
  background-color: #f9f9f9; 
  min-width: 160px; 
  box-shadow: 0px 8px 16px  
      0px rgba(0, 0, 0, 0.2); 
  z-index: 1; 
}

.dropdown:hover .dropbtn { 
  background-color: #989898; 
}

.dropbtn:hover {
  background-color: #299ACC;
}

#uploadFormContainer {
  position: relative;
}

.save__controls {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 4;
  font-size: 12px;
}

.gui {
  width: 800px;
  height: 800px;
  border: 2px;
  border-style: solid;
  margin-top: 50px;
}

.updatenode__controls {
  position: absolute;
  right: 10px;
  top: 10px;
  z-index: 4;
  font-size: 12px;
}

label {
  display: block;
  font-size: 12px;
  text-align: left;
}

input {
  display: block;
  margin: 3px 0 5px 0;
  border: 1px solid black
}